@model WebAppV2.Models.child

@{
    ViewBag.Title = "Добавить ребенка";
}

<h2>Добавить ребенка в систему</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @*  <h4>child</h4>*@
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">

        <b class="control-label col-md-2">Мать</b>
        <div class="col-md-10" style="display:flex">
            @Html.DropDownListFor(model => model.mother_id, new SelectList(Model.momnameslist, "mother_id", "fio"), "Выбрать", new { style = "width: 300px;", @class="form-control" } )
   
            <input type="button" style="margin-left: 20px" value="Добавить мать" onclick="location.href='@Url.Action("CreateMotherTest", "Child")'" class="btn btn-default">

            @Html.ValidationMessageFor(model => model.mother_id, "", new { @class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
      
        <b class="control-label col-md-2">Отец</b>
        <div class="col-md-10" style="display:flex">
            @Html.DropDownListFor(model => model.father_id, new SelectList(Model.dadnameslist, "father_id", "fio"), "Выбрать", new { style = "width: 300px;", @class = "form-control" })
          
            <input type="button" style="margin-left: 20px" value="Добавить отца" onclick="location.href='@Url.Action("CreateFather", "Child")'" class="btn btn-default">
 
            @Html.ValidationMessageFor(model => model.father_id, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
       
        <b class="control-label col-md-2">Фамилия</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.child_surname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.child_surname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        
        <b class="control-label col-md-2">Имя</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.child_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.child_name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        
        <b class="control-label col-md-2">Отчество</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.child_patronymic, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.child_patronymic, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
       
        <b class="control-label col-md-2">Дата рождения</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Bday, new { htmlAttributes = new { @class = "form-control", @type="date" } })
            @Html.ValidationMessageFor(model => model.Bday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
       
        <b class="control-label col-md-2">Гендер</b>
        <div class="col-md-10">
            @Html.RadioButtonFor(model => model.gender, "male", new { @checked = true }) мужской
            @Html.RadioButtonFor(model => model.gender, "female", new { @checked = true }) женский
        
            @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
        </div>
    </div>

   

    <div class="form-group">
        @*  @Html.LabelFor(model => model.group_id, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <b class="control-label col-md-2">Группа</b>
        <div class="col-md-10">

            @Html.DropDownListFor(model => model.group_id, new SelectList(Model.groupslist, "group_id", "name"), "Выбрать", new { style = "width: 300px;" , @class="form-control"} )
            @*   @Html.EditorFor(model => model.group_id, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.group_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Добавить" class="btn btn-default" />
        </div>
    </div>
</div>
}


    <div>
        @Html.ActionLink("Полный список воспитанников", "Index")
        <p></p>
        @Html.ActionLink("Назад", "Index","Home")
    </div>
