@model WebAppV2.Models.mother


@{
    ViewBag.Title = "Добавить родителя ребенка в систему";
}

<h2>Добавить мать ребенка в систему</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
       @* @Html.LabelFor(model => model.mother_surname, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <b class="control-label col-md-2"> Фамилия</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.mother_surname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mother_surname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @*  @Html.LabelFor(model => model.mother_name, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <b class="control-label col-md-2"> Имя</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.mother_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mother_name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @*   @Html.LabelFor(model => model.mother_patronymic, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <b class="control-label col-md-2"> Отчество</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.mother_patronymic, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mother_patronymic, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @*  @Html.LabelFor(model => model.mother_passport_data, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <b class="control-label col-md-2"> Пасспортные данные</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.mother_passport_data, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mother_passport_data, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @*  @Html.LabelFor(model => model.mother_Bday, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <b class="control-label col-md-2"> Дата рождения</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.mother_Bday, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mother_Bday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @*  @Html.LabelFor(model => model.mother_phone, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <b class="control-label col-md-2"> Телефон</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.mother_phone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mother_phone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @* @Html.LabelFor(model => model.mother_education, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <b class="control-label col-md-2"> Образование</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.mother_education, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mother_education, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @*  @Html.LabelFor(model => model.mother_job, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <b class="control-label col-md-2"> Место работы и должность</b>
        <div class="col-md-10">

            @Html.TextAreaFor(model => model.mother_job, 5, 50, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mother_job, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Добавить" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>

    @Html.ActionLink("Полный список матерей воспитанников", "IndexMother")

</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
