@model IEnumerable<WebAppV2.Models.child>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.child_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.child_surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.child_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.child_patronymic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mother_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mother_fio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.father_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.father_fio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.group_id)
        </th>
        <th></th>
    </tr>

    @{
        int i = 0;
        foreach (var item in Model)
        {
            var mother = (ViewData["motherFIO"] as List<WebAppV2.Models.mother>).ElementAt(i);
            var father = (ViewData["fatherFIO"] as List<WebAppV2.Models.father>).ElementAt(i);
            string FIO = mother.fio;
            string fFIO = father.fio;

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.child_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.child_surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.child_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.child_patronymic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mother_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => FIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.father_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => fFIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.group_id)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new {  id=item.child_id}) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
            i++;
        }

    }

</table>
