<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Детский сад", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (User.IsInRole("Methodist"))
                    {

                        <li>
                            @Html.ActionLink("Отчетные материалы", "IndexByUser", "Report", new { username = User.Identity.Name }, new { @style = "font-size:14px" }) )
                        </li>
                        <li> @Html.ActionLink("Добавить ребенка", "Create", "Child") </li>
                        <li> @Html.ActionLink("Воспитанники ДОУ", "Index", "Child") </li>
                    }

                    @if (User.IsInRole("Superintendent"))
                    {
                        <li>
                            @Html.ActionLink("Отчетные материалы", "IndexBySupUser", "Report", new { username = User.Identity.Name }, new { @style = "font-size:14px" }) )
                        </li>
                    }




                    @if (User.IsInRole("Psychologist"))
                    {
                        <li> @Html.ActionLink("Воспитанники ДОУ", "Index", "Child") </li>
                    }

                    @if (User.IsInRole("Parent"))
                    {

                        <li>
                            @Html.ActionLink("Личный кабинет", "IndexProfile", "Father",
             new { username = User.Identity.Name }, new { @style = "font-size:18px" })) )
                        </li>

                    }
                    @if (User.IsInRole("Mother"))
                    {

                        <li> @Html.ActionLink("Личный кабинет", "Index", "Parent", new { username = User.Identity.Name }, new { @style = "font-size:18px" }) ) </li>
                    }

                    @if (User.IsInRole("Teacher"))
                    {

                        <li> @Html.ActionLink("Моя группа", "IndexGroup", "Teacher", new { username = User.Identity.Name }, new { @style = "font-size:18px" }) ) </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
                <p>&copy;  @DateTime.Now.Year – приложение ASP.NET</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



</body>
</html>
