@model WebAppV2.Models.child_portfolio

@{
    ViewBag.Title = "Edit";
}

<h2>Личное портфолио</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>  @ViewData["fio"] </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
          @*  @Html.LabelFor(model => model.child_portfolio_id, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <b  class = "control-label col-md-2" >ID ребенка</b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.child_portfolio_id, new { htmlAttributes = new { @class = "form-control", @readonly="true" } })
                @Html.ValidationMessageFor(model => model.child_portfolio_id, "", new { @class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @*   @Html.LabelFor(model => model.child_id, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <b class="control-label col-md-2">ID портфолио</b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.child_id, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.child_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
          @*  @Html.LabelFor(model => model.child_private_health_data, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <b class="control-label col-md-2">Данные и физическом здоровье</b>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.child_private_health_data, 5, 50, new { htmlAttributes = new { @class = "form-control" } })
                @* @Html.EditorFor(model => model.child_private_health_data, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.child_private_health_data, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
          @*  @Html.LabelFor(model => model.child_private_mental_health_data, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <b class="control-label col-md-2">Данные о психологическом здоровье</b>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.child_private_mental_health_data, 5, 50, new { htmlAttributes = new { @class = "form-control" } })
                @*  @Html.EditorFor(model => model.child_private_mental_health_data, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.child_private_mental_health_data, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
         @*   @Html.LabelFor(model => model.child_achivements, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <b class="control-label col-md-2">Достижения ребенка</b>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.child_achivements, 5, 50, new { htmlAttributes = new { @class = "form-control" } })
                @*    @Html.EditorFor(model => model.child_achivements, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.child_achivements, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    <div>
        
        @Html.ActionLink("Back to List", "Index","Child")
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
